<body >
    <div class="container" style="padding-top: 75px;">
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>I'm sorry you ran out of things to do tonight</p>



            <p>That totally happened is a game about history.  It's designed to trick you, insult you and question your knowledge of history.
                Play with your neighbors, your friends or any of the random {{us.playersConnected}} players on our global server!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Random Game</a></p>
        </div>

        <h4>Here's what the fans have to say</h4>

        <blockquote>
            <p>How the hell did you get in here?  No I won't endorse your stupid game I'm calling the cops!</p>
            <small>John Tesh</small>
        </blockquote>

        <blockquote>
            <p>James I don't want to play your stupid game.  The host isn't even that funny.</p>
            <small>Giancarlo Villanueva</small>
        </blockquote>





    </div>
</body>