<body >
<div class="container" style="padding-top: 75px;">
    <div class="jumbotron">

        <h1>Wu Tang</h1>

        <div class="form">
            <label>Select Username<small>required</small></label>
            <input type="text" ng-model="registerForm.username">
            <label>Choose Password<small>required</small></label>
            <input type="text" ng-model="registerForm.password">
            <label>Full Name<small>optional</small></label>
            <input type="text" ng-model="registerForm.name">
            <input type="button" class="btn btn-success" value="submit" ng-click="register(registerForm)"/>

        </div>





</div>
</body>